<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
  <title>ADNEOM :)</title>
  <!-- Favicon-->
  <link rel="icon" href="favicon.ico" type="image/x-icon" />

  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <link href="assets/css/my-style.css" rel="stylesheet" />
</head>

<body>
  <div id="app" class="content">
    <div class="container-fluid">
      <template>
        <v-app id="inspire">
          <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" dark app fixed class="no-print">
            <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
              <!--<span class="hidden-sm-and-down">{{app.title}}</span>-->
              <span>{{app.title}}</span>
            </v-toolbar-title>

            <v-spacer></v-spacer>
          </v-app-bar>
          <v-content>
            <v-container fluid>
              <template>
                <v-stepper v-model="e1">
                  <v-stepper-header >
                    <v-stepper-step :complete="e1 > 1" step="1" color="success">Identification</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step :complete="e1 > 2" step="2" color="success">Selection de la boisson choisie</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step step="3" color="success">Fin </v-stepper-step>
                  </v-stepper-header>
                  <v-stepper-items>
                    <v-stepper-content step="1" >
                      <template>
                        <v-container fluid>
                          <v-switch color="success" v-model="has_badge" label="Avez-vous un badge ?"></v-switch>
                        </v-container>
                        <v-container v-show="has_badge">
                          <v-row>
                            <v-col cols="12" md="4">
                              <v-text-field v-model="selection.Id_badge" label="Votre numéro de badge SVP :" required></v-text-field>
                            </v-col>
                          </v-row>
                        </v-container>
                      </template>

                      <v-btn rounded color="success" @click="next(1)" class="mb-5">Suivant</v-btn>

                      
                    </v-stepper-content>

                    <v-stepper-content step="2">
                      <template>
                        <v-container fluid> 
                          <v-row>
                            <v-col cols="6" sm="4" v-for="(boisson ,index) in boissons" >
                             
                              <v-card class="mx-auto" max-width="300" @click=select(boisson.Id,index) 
                              v-bind:class="[boissonImgs[index].selected ? 'activeClass' : '']">
                                  <v-img class="white--text" height="200px" contain
                                  :src="boissonImgs[index].img">
                                
                                 </v-img>
                                 <v-card-text><p class="text-center">{{boisson.Libelle}}</p></v-card-text>
                              </v-card>
                             
                            </v-col>
                          </v-row>
                        </v-container>
                      </template>
                      <v-btn rounded color="success" class="mb-5" text @click="e1 = 1">Précédent</v-btn>
                      <v-btn rounded color="success" class="mb-5" @click="e1 = 3">
                        Suivant
                      </v-btn>

                      
                    </v-stepper-content>

                    <v-stepper-content step="3">
                      
                        <v-row>

                          <v-col cols="4" sm="2">
                              <v-img
                                :src="selectedBoisson.img" 
                              ></v-img>
                            </v-col>
                        </v-row>

                            <v-row>
                        <v-col md6 xs12 class="pr-4">
                          <span>Choisissez votre quantité de sucre :</span><br>
                          <v-slider color="success" track-color="gray" v-model="selection.Qte_sucre" class="align-center" :max="10" :min="0" hide-details>
                            <template v-slot:append>
                              <v-text-field v-model="selection.Qte_sucre" class="mt-0 pt-0" hide-details single-line
                                type="number" style="width: 60px"></v-text-field>
                            </template>
                          </v-slider>
                        </v-col>

                        <v-col md6 xs12 class="pr-4"></v-col>
                        <v-container fluid>
                          <v-switch color="success" v-model="selection.Mug" label="Avez-vous un Mug ?"></v-switch>
                        </v-container>
                        </v-col>
                      </v-row>
                      <v-btn rounded color="success" class="mb-5" text @click="e1 = 2">Précédent</v-btn>
                      <v-btn rounded color="success" class="mb-5"  @click="next(3)">Fin</v-btn>
                    </v-stepper-content>
                  </v-stepper-items>
                </v-stepper>
              </template>
            </v-container>
          </v-content>
        </v-app>
        <v-snackbar v-model="snackbar.visible" :color="snackbar.color" :multi-line="snackbar.mode === 'multi-line'"
          :timeout="snackbar.timeout" :vertical="snackbar.mode === 'vertical'">
          {{snackbar.text }} 
          <v-btn dark text @click="snackbar.visible = false">
            Fermer
          </v-btn>
        </v-snackbar>
      </template>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="assets/js/api.js"></script>
<script src="assets/js/global.js"></script>

<script src="assets/js/app.js"></script>

</html>